{% extends "app/layout.html" %}
{% load i18n %}
{% block title %}{% trans "Edit Song" %}{% endblock %}

{% block content %}
<h2 class="mb-4">{% trans "Edit Song" %}</h2>
<form method="post">
    {% csrf_token %}
    <label for="title" class="form-label">{% trans "Title:" %}</label>
    <input type="text" id="title" name="title" class="form-control" value="{{ song.songName }}" required>
    <label for="artist" class="form-label mt-3">{% trans "Video URL:" %}</label>
    <input type="text" id="artist" name="artist" class="form-control" value="{{ song.videoURL }}" required>
    <label for="album" class="form-label mt-3">{% trans "Length:" %}</label>
    <input type="text" id="album" name="album" class="form-control" value="{{ song.length }}">
    <label for="genre" class="form-label mt-3">{% trans "Image URL:" %}</label>
    <input type="text" id="genre" name="genre" class="form-control" value="{{ song.imageURL }}">
    <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
</form>
{% endblock %}