{% load i18n %}
<nav class="links" role="navigation" aria-label="Main navigation">
  <button class="nav-btn active" data-route="home" onclick="SearchGames()">{% trans "Browse" %}</button>
  {% if user.is_authenticated %}
  <!-- <form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
      <li><span class="navbar-brand">Hello {{ user.username }}!</span></li>
      <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
  </form> -->
  <button class="nav-btn" id="upload-button" data-route="upload">{% trans "Upload" %}</button>
          <button class="nav-btn" id="favs-button" data-route="favs" onclick="window.location.href='{% url 'favourites' %}'">{% trans "Favourites" %}</button>
        </nav>
        <!-- <div class="avatar" title="Profile"></div> -->
        <!-- <div class="profile"></div> -->
          <button class="nav-btn" id="profile-link" data-route="profile" onclick="window.location.href='{% url 'profile' %}'">{% trans "Hello," %} {{ user.username }}!</button>
          <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
          <form id="logoutForm" action="{% url 'logout' %}" method="post" style="display:none;">
              {% csrf_token %}
          </form>

{% else %}

    <a href="{% url 'login' %}">{% trans "Log in" %}</a>

    </nav>

{% endif %}
